<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioSrvlt</servlet-name>
        <servlet-class>controlador.UsuarioSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionSrvlt</servlet-name>
        <servlet-class>controlador.SesionSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurnoSrvlt</servlet-name>
        <servlet-class>controlador.TurnoSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManiobraSrvlt</servlet-name>
        <servlet-class>controlador.ManiobraSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovedadSrvlt</servlet-name>
        <servlet-class>controlador.NovedadSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioSrvlt</servlet-name>
        <url-pattern>/UsuarioSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionSrvlt</servlet-name>
        <url-pattern>/SesionSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurnoSrvlt</servlet-name>
        <url-pattern>/TurnoSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManiobraSrvlt</servlet-name>
        <url-pattern>/ManiobraSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovedadSrvlt</servlet-name>
        <url-pattern>/NovedadSrvlt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
